semi: false
singleQuote: true
printWidth: 80
tabWidth: 4
useTabs: false
trailingComma: 'all'
bracketSpacing: true
arrowParens: 'avoid'
rangeStart: 0
equirePragma: false
insertPragma: false
proseWrap: 'preserve'
htmlWhitespaceSensitivity: 'css'
